@{
    ViewData["Title"]="QQSM";
}
<h1>Fin del juego</h1>
<h3>Nombre: @ViewBag.j.Nombre</h3>
<h3>Pozo ganado: @ViewBag.j.PozoGanado</h3>
<a href='@Url.Action("Index","Home")'class="btn btn-primary">Volver a jugar</a>